

body {
    background: #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}

.container {
    height: 100px;
    background: #ffffff;
    border-color: #cccccc;
    margin-bottom: 20px;
    margin-top: 0;
    position: relative;
    padding-right: 80px;
    padding-left: 110px;

}


.container2 {
    margin: 0 auto;
    padding: 50px;
    width: 960px;
    height: 320px;
    background: white;
}

h1,
h2 {
    font-family:'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 25px;
}

h1 {
    position: absolute;
    color: white; 
    background: #4aaaa5; 
    height: 70px;
    width: 20%;
    text-align: center;
    padding-top: 30px;
}

h2 {
    color: #4aaaa5;
    padding-bottom: 10px;
    border-bottom: 3px solid gray;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.about,
.port,
.contact {
    float: right;
    position: relative;
    top: 30px; 
    right: 40px;
    margin-left: 50px;
}

.image {
    float: left;
    margin: 13px;
}

.para {
    padding-top: 5px; 
}

.para2 {
    padding-top:30px;
    padding-bottom: 5px;
}

.para3 {
    padding-top:20px;
    padding-bottom:5px;
}

a:visited {
    background: white;
    color: Black;
}

input[type=text]{
    width: 100%;
  }

  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    margin-top: 5px;
  }